/* color palette from <https://github.com/vuejs/theme> */
:root {
	--vt-c-white: #ffffff;
	--vt-c-white-soft: #f8f8f8;
	--vt-c-white-mute: #f2f2f2;

	--vt-c-black: #181818;
	--vt-c-black-soft: #222222;
	--vt-c-black-mute: #282828;

	--vt-c-indigo: #2c3e50;

	--vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
	--vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
	--vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
	--vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

	--vt-c-text-light-1: var(--vt-c-indigo);
	--vt-c-text-light-2: rgba(60, 60, 60, 0.66);
	--vt-c-text-dark-1: var(--vt-c-white);
	--vt-c-text-dark-2: rgba(235, 235, 235, 0.9);

	--vt-c-light-bg-image: url('../assets/bg.svg');
	--vt-c-light-bg-opacity-reduce: 0.15;
	--vt-c-light-bg-filter: invert(100%);

	--vt-c-dark-bg-image: url('../assets/bg.svg');
	--vt-c-dark-bg-opacity-reduce: 0.3;
	--vt-c-dark-bg-filter: unset;
}

/* semantic color variables for this project */
:root {
	--color-background: var(--vt-c-white);
	--color-background-soft: var(--vt-c-white-soft);
	--color-background-mute: var(--vt-c-white-mute);

	--color-border: var(--vt-c-divider-light-2);
	--color-border-hover: var(--vt-c-divider-light-1);

	--color-heading: var(--vt-c-text-light-1);
	--color-text: var(--vt-c-text-light-1);

	--section-gap: 160px;

	--bg-image: var(--vt-c-light-bg-image);
	--bg-opacity-reduce: var(--vt-c-light-bg-opacity-reduce);
	--bg-filter: var(--vt-c-light-bg-filter);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--vt-c-black);
		--color-background-soft: var(--vt-c-black-soft);
		--color-background-mute: var(--vt-c-black-mute);

		--color-border: var(--vt-c-divider-dark-2);
		--color-border-hover: var(--vt-c-divider-dark-1);

		--color-heading: var(--vt-c-text-dark-1);
		--color-text: var(--vt-c-text-dark-2);

		--bg-image: var(--vt-c-dark-bg-image);
		--bg-opacity-reduce: var(--vt-c-dark-bg-opacity-reduce);
		--bg-filter: var(--vt-c-dark-bg-filter);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: Quicksand, sans-serif;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	line-height: 1.6;
	font-family: Quicksand, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

body::before {
	z-index: -2;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: var(--bg-image);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-filter: var(--bg-filter);
	filter: var(--bg-filter);
}

body::after {
	z-index: -1;
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: var(--bg-opacity-reduce);
}