@import './base.css';

#app {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

h1,
h2 {
	text-align: center;
}

.card {
	background-color: var(--card-background);
	border-radius: 16px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 20px;
	margin-bottom: 20px;
	backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.card .title {
	margin-bottom: 20px;
}

.input-form {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 20px;
}

.input-group {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
	font-weight: bold;
}

label[for='baseAmount']::after,
label[for='tenure']::after,
label[for='interestRate']::after {
	content: ' *';
	color: #ff4500;
}

input {
	padding: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.1);
	color: var(--text-color);
}

input:required {
	border-color: #ff4500;
}

input:required:valid {
	border-color: #4caf50;
}

button {
	background-color: var(--primary-color);
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #2980b9;
	transform: translateY(-2px);
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button:active {
	transform: translateY(0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.table-container {
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	margin-top: 20px;
}

th,
td {
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 12px;
	text-align: right;
}

th {
	background-color: var(--primary-color);
	color: var(--text-color);
	font-weight: bold;
}

tfoot td {
	font-weight: bold;
	color: #ffd700;
	/* Gold color for the total row text */
}

tfoot td.total-emi-payable {
	color: #4caf50;
	/* Orange-red color for the total EMI payable */
}

tfoot td.total-emi-payable.more-than-principal {
	color: #ff4500;
	/* Orange-red color for the total EMI payable */
}

th:first-child,
td:first-child {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

th:last-child,
td:last-child {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

thead tr:first-child th {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

thead tr:first-child th:first-child {
	border-top-left-radius: 8px;
}

thead tr:first-child th:last-child {
	border-top-right-radius: 8px;
}

tbody tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}

tbody tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}